

img{
    height: 200px;
    width: max-content;
    max-height: 100%;
    max-width: 100%;
}

@media (max-width: 4000px){
    .card{
        height: 200px;
        width: 180px;
        margin-top: 10px; 
        margin-left: 20px;
    }
    img{
        height: 200px;
        width: max-content;
    }
}

@media (max-width: 1400px){
    .card{
        height: 100px;
        width: 80px;
        margin-top: 10px; 
        margin-left: 20px;
    }
    img{
        height: 100px;
        width: max-content;
    }
    
}