
nav{
  background-color: #6ab3e7;
  text-align: center;
  font-size: 28px;
  text-decoration: underline;
}

li{
  padding: 10px;
}
.navbar-brand{
  text-align: center;
  font-size: 35px;
  text-decoration: underline;
}